{{!-- Add js --}}
{{!--
<script src="/js/seeMore.js"></script> --}}

<body>
    <div class="article">
        <div class="user">
            <div class="user_photo">
                <img src="../{{avatar}}" alt="">
            </div>

            <div class="user_detail">
                <div class="user_name">
                    {{username}}
                    <button type="submit" class="subscribe">Subscribe</button>
                </div>
                <div class="article_date">{{time}}</div>
            </div>

        </div>
        <div class="content">
            <div class="title">
                <a href="./article?id={{id}}">
                    {{header}}
                </a>
            </div>
            <div class="text">
                <div class="content_container">
                    {{{content}}}
                </div>
                <div class="image">
                    {{#if image}}
                    <img src="/uploadedFiles/{{user_id}}/{{image}}" width="300">
                    {{/if}}
                </div>
            </div>
            <div class="article_function">
                <div class="like_container">
                    <span class="material-symbols-outlined">
                        favorite
                    </span>
                    <div class="likeArea" id={{id}}>
                        <span class="likeSpan">{{likeState}}</span>
                        <span class="likeNumber">{{likeNumber}}</span>
                    </div>
                </div>


                <div class="comment_container">
                    <a href="./article?id={{id}}">
                        <span class="material-symbols-outlined">
                            mode_comment
                        </span>
                        <span class="comment">Comment</span>
                    </a>
                </div>

            </div>
        </div>
    </div>

</body>