<body>
    <div class="article">
        <div class="user">
            <div class="user_photo">
                <img src="../images/Dragonite.png" alt="">
            </div>
            <div class="user_detail">
                <div class="user_name">
                    {{user_id}}
                </div>
                <div class="article_date">{{date}} {{time}}</div>
            </div>

        </div>
        <div class="content">
            <div class="title">
                {{header}}
            </div>
            <div class="text">
                <p>
                    {{{content}}}
                </p>
                <div class="image">
                    <img src="../images/Dragonite.png" alt="">
                </div>
            </div>
            <div class="article_function">
                <div class="like_container">
                    <span class="material-symbols-outlined">
                        favorite
                    </span>
                    <span class="like">
                        Like
                    </span>
                </div>

                <div class="comment_container">
                    <span class="material-symbols-outlined">
                        mode_comment
                    </span>
                    <span class="comment">Comment</span>
                </div>

            </div>
        </div>
    </div>


</body>