<div class="dropbox" id="dropbox">
    <ul>
        <li>
            <div id="trigger">
                <ul id="hidden">
                    <li class="notice_card first"></li>
                    {{#each notification}}
                    <li class="notice_card">
                        <a href="../goNotificationDetail?userId={{userId}}&type={{type}}&content={{typeId}}&notificationId={{id}}"
                            class="message">
                            <div class="notice_container">
                                <div class="auth_icon">
                                    <img src="{{avatar}}" alt="">
                                </div>
                                <div class="right_container">
                                    <div>{{title}}</div>
                                    <div class="timestamp">{{time}}</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    {{/each}}
                </ul>

            </div>
        </li>
    </ul>
</div>