
<h1>{{currentUser}}'s analytics page</h1>
<p>Follower number: {{followerNumber}}</p>
<p>All comment number: {{allCommentNumber}}</p>
<p>All article's like numebr: {{allLikeNumber}}</p>
<br/>
<h2>Popular Article Area</h2>
{{#if mostPopularList}}
    <p>Most popular Article</p>
    <ol>
        {{#each mostPopularList}}
            <input type="hidden" class="popularArticleId" value={{this.id}}>
            <li>Header:{{this.header}}<br/>
                Content: {{this.content}}<br/>
                Time: {{this.time}}<br/>
                {{#if image}}
                    <img src="/uploadedFiles/{{user_id}}/{{image}}" width="300"><br/>
                {{/if}}
                Comment number: {{this.commentNumber}}<br/>
                Like number: {{this.likeNumber}}<br/>
                PopularIndex:{{this.popularIndex}}</li>
            
        {{/each}}
    </ol>
{{/if}}

{{#if defaultList}}
    <p>no more article has popular index</p>
    <p>default articles below</p>
    {{#each defaultList}}
        <ul>
                <li>Header:{{this.header}}<br/>
                Content: {{this.content}}<br/>
                Time: {{this.time}}<br/>
                {{#if image}}
                    <img src="/uploadedFiles/{{user_id}}/{{image}}" width="300"><br/>
                {{/if}}
                Comment number: {{this.commentNumber}}<br/>
                Like number: {{this.likeNumber}}<br/>
                PopularIndex:{{this.popularIndex}}</li>
        </ul>
    {{/each}}
{{/if}}

{{#if noArticleHasPopularIndex}}
    <p>no article has popular index</p>
    <p>default articles below</p>
    {{#each noArticleHasPopularIndex}}
        <ul>
                <li>Header:{{this.header}}<br/>
                Content: {{this.content}}<br/>
                Time: {{this.time}}<br/>
                {{#if image}}
                    <img src="/uploadedFiles/{{user_id}}/{{image}}" width="300"><br/>
                {{/if}}
                Comment number: {{this.commentNumber}}<br/>
                Like number: {{this.likeNumber}}<br/>
                PopularIndex:{{this.popularIndex}}</li>
        </ul>
    {{/each}}
{{/if}}