<head>
    <script src="./js/analytics.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<h1>{{currentUser}}'s analytics page</h1>
<p>Follower number: {{followerNumber}}</p>
<p>All comment number: {{allCommentNumber}}</p>
<p>All article's like numebr: {{allLikeNumber}}</p>
<br/>
<h2>Popular Article Area</h2>
{{#if mostPopularArticleList}}
    <p>Top Three Article</p>
    <ol>
    {{#each mostPopularArticleList}}
        <li>
            Header: {{this.header}}<br/>
            Time: {{this.time}}<br/>
            Content: {{this.content}}<br/>
            {{#if this.image}}
                    <img src="/uploadedFiles/{{this.user_id}}/{{this.image}}" width="300"><br/>
            {{/if}}
            Popular Index: {{this.popularIndex}}<br/>
            Comment Number: {{this.commentNumber}}<br/>
            Like Number: {{this.likeNumber}}<br/>
        </li>
    {{/each}}
    </ol>
{{/if}}

<canvas id="myChart" style="width:100%;max-width:700px"></canvas>
<canvas id="myChart2" style="width:100%;max-width:700px"></canvas>