<!-- Add CSS files -->
<link rel="stylesheet" href="/css/nav_bar.css">
<link rel="stylesheet" href="/css/home_main.css">
<link rel="stylesheet" href="/css/notice_number.css">
<link rel="stylesheet" href="/css/notice_detail.css">
<link rel="stylesheet" href="/css/function.css">
<link rel="stylesheet" href="/css/sort.css">
<link rel="stylesheet" href="/css/article.css">
<link rel="stylesheet" href="/css/insights.css">

{{!-- Add fonts link from google fonts--}}
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<script src="./js/analytics.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>



<body>
    {{> nav_bar_login}}

    {{#if notification}}
    {{> notice_detail}}
    {{/if}}

    <div class="main">
        {{> function}}

        <div class="article_container">
            <div class="part part1">
                <div class="header">
                    <span class="material-symbols-outlined">
                        dashboard
                    </span>
                    <div class="title">
                        {{currentUser}}'s analytics report
                    </div>
                </div>
                <table>
                    <tr>
                        <th>Metrics</th>
                        <th>Amount</th>
                    </tr>
                    <tr>
                        <td>Followers:</td>
                        <td class="table-data">{{followerNumber}}</td>
                    </tr>
                    <tr>
                        <td>Comments on you:</td>
                        <td class="table-data">{{allCommentNumber}}</td>
                    </tr>
                    <tr>
                        <td>Your article's likes:</td>
                        <td class="table-data">{{allLikeNumber}}</td>
                    </tr>
                </table>
            </div>

            <div class="part part2">
                <div class="header">
                    <span class="material-symbols-outlined">
                        local_fire_department
                    </span>
                    <div class="title">My Popular Articles -- Top 3</div>
                </div>

                {{#if mostPopularArticleList}}
                <div class="popular_container">
                    {{#each mostPopularArticleList}}
                    <div class="popular_detail">
                        <span class="p_title">Rank {{this.rank}}: {{this.header}}</span>
                        <span class="p_time">Time: {{this.time}}</span>
                        <span class="p_content">{{{this.content}}}</span>

                        {{#if this.image}}
                        <img src="/uploadedFiles/{{this.user_id}}/{{this.image}}" width="300" class="p_img">
                        {{/if}}

                        <div class="index">
                            <span>Popular Index: {{this.popularIndex}}</span>
                            <span>Comment: {{this.commentNumber}}</span>
                            <span>Like: {{this.likeNumber}}</span>
                        </div>
                    </div>

                    {{/each}}
                </div>
                {{/if}}
            </div>


            <div class="part part3">
                <div class="header">
                    <span class="material-symbols-outlined">
                        trending_up
                    </span>
                    <div class="title">Daily total comments</div>
                </div>

                <canvas id="myChart2" style="width:100%;max-width:700px"></canvas>
            </div>

        </div>

    </div>

</body>