
/*
{{#if toastMessage}}
    <p>{{toastMessage}}</p>
{{/if}}


{{#if hasLogin}}
    <a href="./userHomePage">Click here Go to your homePage</a>
    <a href="./setting">Click here to set your personal detail</a>
    <a href="./logout">Click here to logout</a>
    {{else}}
    <a href="./login">Click here to Login in</a>
    <a href="./register">Click here to sign up</a>
{{/if}}
*/

<html>

<head>
  {{!-- Add ico ?--}}
  <link rel="shortcut icon" href="/ico/favicon.ico" />
  <!-- Add CSS files -->
  <link rel="stylesheet" href="/css/nav_bar.css">
  <link rel="stylesheet" href="/css/home_main.css">
  <link rel="stylesheet" href="/css/article.css">
  {{!-- Add fonts link from google fonts--}}
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


</head>

<body>
  <!-- Include the navbar partial -->
  {{> nav_bar}}

  <div class="main">

<!-- from new to old -->
    {{#if article}}
      {{#each article}}
        <a href="./article?id={{this.id}}">{{this.header}}</a><br/>
        <p>{{this.time}}</p>
        <p>{{this.username}}</p>
        <p>{{this.content}}</p>
        <a href="./article?id={{this.id}}">comment</a><br/>
        <p>like: {{this.likeNumber}}</p>
        <p>----------------</p>
      {{/each}}
    {{/if}}


    {{!-- Article Part --}}
    {{!-- Import each article date inside partial --}}
    <div class="article_container">
      {{#each Array}}
      {{> article}}
      {{/each}}
    </div>

  </div>

</body>

</html>