<html>

<head>
  {{!-- Add ico ?--}}
  <link rel="shortcut icon" href="/ico/favicon.ico" />
  <!-- Add CSS files -->
  <link rel="stylesheet" href="/css/nav_bar.css">
  <link rel="stylesheet" href="/css/home_main.css">
  <link rel="stylesheet" href="/css/function.css">
  <link rel="stylesheet" href="/css/article.css">
  {{!-- Add fonts link from google fonts--}}
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


</head>

<body>
  <!-- Include the navbar partial -->
  {{#if hasLogin}}

  {{!-- Add user avatar to the nav bar --}}
  {{> nav_bar_login}}

  {{else}}
  {{> nav_bar}}
  {{/if}}


  <div class="main">


<!-- from new to old -->
    {{#if article}}
      {{#each article}}
        <a href="./article?id={{this.id}}">{{this.header}}</a><br/>
        <p>{{this.time}}</p>
        <p>{{this.username}}</p>
        <p>{{this.content}}</p>
        <a href="./article?id={{this.id}}">comment</a><br/>
        <p>like: {{this.likeNumber}}</p>
        <p>----------------</p>
      {{/each}}
    {{/if}}



    {{!-- Function Part (Left)--}}
    {{#if hasLogin}}
    {{> function}}
    {{/if}}


    {{!-- Article Part --}}
    {{!-- Import each article date inside partial --}}
    <div class="article_container">

      <div class="sort_container">
        <form action="./homeSortByTitle" method="POST">
          <input type="hidden" id="sort" name="sort" value="sort">
          <button type="submit">Sort by Title!</button>
        </form>

        <form action="./homeSortByUsername" method="POST">
          <input type="hidden" id="sort" name="sort" value="sort">
          <button type="submit">Sort by Username</button>
        </form>

        <form action="./homeSortByDate" method="POST">
          <input type="hidden" id="sort" name="sort" value="sort">
          <button type="submit">Newest to Oldest</button>
        </form>

        <form action="./homeResetSort" method="POST">
          <input type="hidden" id="sort" name="sort" value="sort">
          <button type="submit">Reset order</button>
        </form>
      </div>

      {{#each articlesArray}}
      {{> article}}
      {{/each}}
    </div>

  </div>

</body>

</html>