<head>
    <link rel="stylesheet" href="/css/setting.css">
    <script src="./js/setting.js"></script>
</head>

<div class="container">
    <a href="./">Click here back to home page</a>
    {{#if toastMessage}}
    <p>{{toastMessage}}</p>
    {{/if}}

    <h1>You can set your information here</h1>

    <form action="./changeAvatar" method="post">
        <label for="avatar">Change your Avatar:</label>
        <select id="selectAvatar" name="avatar" class="selectAvatar">
            <option value="/images/cat.png" class="avatar">
                Cat
            </option>
            <option value="/images/bird.png" class="avatar">
                Bird
            </option>
            <option value="/images/deer.png" class="avatar">
                Deer
            </option>
        </select>
        <img src="/images/cat.png" id="avatarImage" width="50px">
        <button type="submit" name="settingButton">Change Avatar</button>
    </form>

    <div class="warningUsernameArea">
    </div>
    <form action="./changeUsername" method="post">
        <label for="textUsername">Username:</label>
        <input type="text" id="textUsername" name="username" maxlength="32" placeholder="{{userCurrentData.username}}" required>
        <button type="submit" name="settingButton" id="settingUsernameButton">Change Username</button>

    </form>

    <form action="./changeFirstName" method="post">
        <label for="textFirstName">First Name:</label>
        <input type="text" id="textFirstName" name="firstName" maxlength="32" placeholder="{{userCurrentData.fname}}" required>
        <button type="submit" name="settingButton">Change First Name</button>
    </form>

    <form action="./changeLastName" method="post">
        <label for="textLastName">Last Name:</label>
        <input type="text" id="textLastName" name="lastName" maxlength="32" placeholder="{{userCurrentData.lname}}" required>
        <button type="submit" name="settingButton">Change Last Name</button>
    </form>

    <form action="./changeBirth" method="post">
        <label for="textFirstName">Date of Birth: {{birth}}</label>
        <input type="date" id="textBirth" name="birth" required>
        <button type="submit" name="settingButton">Change Birth Date</button>
    </form>


    <form action="./changeDescription" method="post">
        <label for="textDescription">Description</label><br />
        <textarea id="textDescription" name="description" row="4" cols="50" maxlength="64" placeholder="{{userCurrentData.profile}}"></textarea>
        <button type="submit" name="settingButton">Change Description</button>
    </form>

    <br>
    <form action="./delete" method="post">
        <h1>↓Or you can delete your account by click the button↓</h1>
        <button type="submit" name="deleteButton" onclick="return confirm('Are you sure you want to delete this account?');">Delete My Acoount</button>
        <p id="warning">be carefully! Any data in your account will be wiped out!</p>
    </form>
</div>