
<h1>Hi, there! Here is your own space!</h1>
<a href="./">Click here back to home page</a>
<a href="./setting">Click here to set your personal detail</a>

    <div>
        <h1>My Articles</h1>
        {{#if articles}}
            <ul name="articleUL">
            {{#each articles}}
            <li>
            {{this.header}} by
            {{this.username}} 
            {{this.date}}
            <form action="./deleteArticle" method="POST">
            <input type="hidden" id="delete" name="delete" value="{{this.id}}">
            <button type="submit">Delete!</button>
            </form>
            <form action="./editArticle" method="POST">
            <input type="hidden" id="edit" name="edit" value="{{this.id}}">
            <button type="submit">Edit!</button>
            </form>
            </li>
            {{/each}}
            </ul>
            {{else}}
            <p>No matching articles</p>
        {{/if}}
    </div>

<form action="./sortByTitle" method="POST">
    <input type="hidden" id="sort" name="sort" value="sort">
    <button type="submit">Sort by title!</button>
</form>

<div class="container">
    <a href="./">Click here back to home page</a>
    <a href="./setting">Click here to set your personal detail</a>
    <a href="./logout">Click here to logout</a>
    {{! Display a toast message if one was provided. }}
    {{#if toastMessage}}
        <h1>{{toastMessage}}</h1>
    {{/if}}
    <h1>Here is your own space!</h1>
</div>

